<div class="jumbotron text-center">
   <h1 class="display-3">{{title}}</h1>
   <p class="lead">Get Weather information using your Zipcode.</p>
   <a href="/api/weather" class="btn btn-lg btn-dark">Try it</a>
</div> 